<div>
  <div class="c-admin-articles__heading">
    <h1>All Published Articles</h1>
    <div class="c-admin-articles__button">
      <%= link_to "Write a new article", new_admin_article_path %>
    </div>
  </div>
  <div class="c-admin-articles__grid">
    <% @articles.each do |article| %>
    <div class="c-admin-articles__grid-item-1">
      <div class="c-admin-articles__content-title">
        <h1><%= link_to article.title, admin_article_path(article) %></h1>
      </div>
      <div class="c-admin-articles__content-text c-text-small">
        <%= article.text.truncate(50) %>
      </div>
      <div class="c-admin-articles__content-date">
        <%= article.created_at.to_formatted_s(:short) %>
      </div>
    </div>
    <div class="c-admin-articles__grid-item-2">
      <div class="c-admin-articles__content-option">
        <%= link_to "Edit", edit_admin_article_path(article) %>
      </div>
      <div class="c-admin-articles__content-option">
        <%= link_to "Destroy", admin_article_path(article),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
      </div>
    </div>
    <% end %>
  </div>

