<div class="c-articles">
  <div class="c-articles__heading  c-text-charlie">
    <h1>
      <%= @article.title %>
    </h1>
  </div>
  <div class="c-articles__timestamp  c-text-delta">
    <p>
      <%= @article.created_at.to_formatted_s(:short) %>
    </p>
  </div>
  <div class="c-articles__body  c-text-echo">
    <p>
      <%= @article.text %>
    </p>
  </div>
  <div class="c-articles__comments">
    <%= render @article.comments %>
    <div class='c-articles__comments-heading'>
      <h2>Add a comment:</h2>
    </div>
    <%= render 'comments/form' %>
    <%= link_to 'Back', articles_path, class: 'c-button' %>
  </div>
</div>
