<div class="c-articles-show">
  <div class="c-articles-show__heading  c-text-charlie">
    <h1>
      <%= @article.title %>
    </h1>
  </div>
  <div class="c-articles-show__body  c-text-echo">
    <p>
      <%= @article.text %>
    </p>
  </div>
  <div class="c-articles-show__comments">
    <h2>Comments</h2>
    <%= render @article.comments %>

    <h2>Add a comment:</h2>
    <%= render 'comments/form' %>

    <%= link_to 'Back', articles_path %>
  </div>
</div>
