<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class='o-container'>
      <div class='o-grid-container'>
        <div class='o-grid-item-a'>
          <%= image_tag('hero', class: 'c-hero') %>
        </div>
        <div class='o-grid-item-b  c-sidebar'>
          <h1 class='c-sidebar__heading  c-text-delta'>Featured Articles</h1>
          <div class='c-sidebar__text'>
            <% articles_for_sidebar.each do |article| %>
              <p><%= article.title %></p>
              <%= link_to 'Show', article_path(article) %>
            <% end %>
          </div>
        </div>
        <div class='o-grid-item-c'>
          <div class='o-container__navigation'>
            <input id='burger-menu' type='checkbox' class='c-navigation__checkbox' />
            <label for='burger-menu' class='c-navigation__menu_button'>
              Menu
            </label>
            <div class="c-navigation">
              <nav class="c-navigation__links">
                <ul>
                  <li><%= link_to 'Homepage', controller: 'welcome' %></li>
                  <li><a href='#' class="c-navigation__link" >Contact</a></li>
                  <li><%= link_to 'Articles', controller: 'articles' %></li>
                  <li><a href="https://github.com/Azfletch/blog" class="c-navigation__link" >Github</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class='o-container__content'>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
