<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="o-container">
      <div class="o-container-nav">
        <div class="c-navigation  row">
          <a href='/' class="c-navigation__logo  col-sm">
            <div class="c-navigation__logo-icon"><%= image_tag('af-logo.png') %></div>
            <h1 class="c-navigation__logo-text">Arron Fletcher</h1>
          </a>
          <nav class="c-navigation__links  col-sm ">
            <ul>
              <li><%= link_to 'Homepage', controller: 'welcome' %></li>
              <li><a href='#' class="c-navigation__link" >Contact</a></li>
              <li><%= link_to 'Articles', controller: 'articles' %></li>
              <li><a href="https://github.com/Azfletch/blog" class="c-navigation__link" >Github</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="o-container-content">
      </div>
    </div>
    <%= yield %>
  </body>
</html>
