<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="o-container">
      <div class="o-container-hero">
        <div class="c-hero">
          <h1 class="c-text-alpha  c-hero__title">Arron Fletcher</h1>
        </div>
      </div>
      <div class="o-container-nav">
        <div class="c-navigation">
          <nav class="c-navigation__links">
            <ul>
              <li><%= link_to 'Homepage', controller: 'welcome' %></li>
              <li><a href='#' class="c-navigation__link" >Contact</a></li>
              <li><%= link_to 'Articles', controller: 'articles' %></li>
              <li><a href="https://github.com/Azfletch/blog" class="c-navigation__link" >Github</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="o-container-content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
